.game-container {
  background: rebeccapurple;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  width: 500px;
  margin: 0 auto;
}
.game-box {
  background: white;
  color: rebeccapurple;
  flex: 0 0 30%;
  height: 30%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 72px;
}

.game-box:nth-child(7),
.game-box:nth-child(8),
.game-box:nth-child(9){
  align-self: flex-end;
}

.game-box:nth-child(1),
.game-box:nth-child(2),
.game-box:nth-child(3){
  align-self: flex-start;
}
